
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCourierLabel" translate="jhipsterApp.courier.home.createOrEditLabel">Create or edit a Courier</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label translate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="courier.id" readonly>
        </div>

        <div class="form-group">
            <label translate="jhipsterApp.courier.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="courier.name" required>

            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="jhipsterApp.courier.daily_capacity" for="field_daily_capacity">Daily_capacity</label>
            <input type="number" class="form-control" name="daily_capacity" id="field_daily_capacity"
                    ng-model="courier.daily_capacity" required>

            <div ng-show="editForm.daily_capacity.$invalid">
                <p class="help-block"
                    ng-show="editForm.daily_capacity.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.daily_capacity.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="jhipsterApp.courier.color_code" for="field_color_code">Color_code</label>
            <input type="text" class="form-control" name="color_code" id="field_color_code"
                    ng-model="courier.color_code" required>

            <div ng-show="editForm.color_code.$invalid">
                <p class="help-block"
                    ng-show="editForm.color_code.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="jhipsterApp.courier.is_enabled" for="field_is_enabled">Is_enabled</label>
            <input type="checkbox" class="form-control" name="is_enabled" id="field_is_enabled"
                    ng-model="courier.is_enabled">

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
