<div>
    
        <div class="header">
            <span translate="jhipsterApp.test4.home.title">Test4s</span>
            <md-button ng-hide="actionButton" ng-click="showForm=true; actionButton=true;" class="action">Create</md-button>
            <md-button ng-show="actionButton" ng-click="showForm=false; actionButton=false" class="action">Close</md-button>
        </div>
        <md-content md-theme="altTheme" ng-show="showForm" layout-padding>
            <form name="editForm" ng-submit="save()">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>ID</label>
                        <input ng-model="test4.id" readonly>
                    </md-input-container>


                    ngRequired ng-minlength=&#34;0&#34; ng-maxlength=&#34;20&#34; ng-pattern=&#34;^[a-zA-Z0-9]*$&#34;

                    <md-input-container flex>
                        <label translate="jhipsterApp.test4.one">
                            One
                        </label>
                        <input ngRequired ng-minlength=&#34;0&#34; ng-maxlength=&#34;20&#34; ng-pattern=&#34;^[a-zA-Z0-9]*$&#34; ng-model="test4.one">
                    </md-input-container>


                    

                    <md-input-container flex>
                        <label translate="jhipsterApp.test4.two">
                            Two
                        </label>
                        <input  ng-model="test4.two">
                    </md-input-container>


                    ngRequired ng-minlength=&#34;0&#34; ng-maxlength=&#34;100&#34;

                    <md-input-container flex>
                        <label translate="jhipsterApp.test4.three">
                            Three
                        </label>
                        <input ngRequired ng-minlength=&#34;0&#34; ng-maxlength=&#34;100&#34; ng-model="test4.three">
                    </md-input-container>


                </div>
                <md-button md-theme="default" type="button" ng-click="clear();" class="action">Clear</md-button>
                <md-button md-theme="default" class="action">Save</md-button>
            </form>
        </md-content>
        <div id="grid" ui-grid-pinning ui-grid-edit ui-grid-cellNav ui-grid="gridOptions" class="grid"></div>
</div>
