
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTest3Label" translate="jhipsterApp.test3.home.createOrEditLabel">Create or edit a Test3</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label translate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="test3.id" readonly>
        </div>

        <div class="form-group">
            <label translate="jhipsterApp.test3.one" for="field_one">One</label>
            <input type="text" class="form-control" name="one" id="field_one"
                    ng-model="test3.one" required ng-minlength="1" ng-maxlength="20" ng-pattern="/^[a-zA-Z0-9]*$/">

            <div ng-show="editForm.one.$invalid">
                <p class="help-block"
                    ng-show="editForm.one.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.one.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.one.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.one.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="^[a-zA-Z0-9]*$">
                    This field should follow pattern "^[a-zA-Z0-9]*$".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="jhipsterApp.test3.two" for="field_two">Two</label>
            <input type="number" class="form-control" name="two" id="field_two"
                    ng-model="test3.two">

            <div ng-show="editForm.two.$invalid">
                <p class="help-block"
                    ng-show="editForm.two.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="jhipsterApp.test3.three" for="field_three">Three</label>
            <input type="number" class="form-control" name="three" id="field_three"
                    ng-model="test3.three">

            <div ng-show="editForm.three.$invalid">
                <p class="help-block"
                    ng-show="editForm.three.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="jhipsterApp.test3.four" for="field_four">Four</label>
            <input type="number" class="form-control" name="four" id="field_four"
                    ng-model="test3.four">

            <div ng-show="editForm.four.$invalid">
                <p class="help-block"
                    ng-show="editForm.four.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="jhipsterApp.test3.five" for="field_five">Five</label>
            <input type="date" class="form-control" name="five" id="field_five"
                    ng-model="test3.five">

            <div ng-show="editForm.five.$invalid">
            </div>
        </div>
        <div class="form-group">
            <label translate="jhipsterApp.test3.six" for="field_six">Six</label>
            <input type="datetime-local" class="form-control" name="six" id="field_six"
                    ng-model="test3.six" ng-model-options="{timezone: 'UTC'}">

            <div ng-show="editForm.six.$invalid">
                <p class="help-block"
                    ng-show="editForm.six.$error.datetimelocal" translate="entity.validation.datetimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="jhipsterApp.test3.seven" for="field_seven">Seven</label>
            <input type="checkbox" class="form-control" name="seven" id="field_seven"
                    ng-model="test3.seven">

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
