
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTest1Label" translate="jhipsterApp.test1.home.createOrEditLabel">Create or edit a Test1</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label translate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="test1.id" readonly>
        </div>

        <div class="form-group">
            <label translate="jhipsterApp.test1.firstname" for="field_firstname">Firstname</label>
            <input type="text" class="form-control" name="firstname" id="field_firstname"
                    ng-model="test1.firstname">

        </div>
        <div class="form-group">
            <label translate="jhipsterApp.test1.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                    ng-model="test1.age">

        </div>
        <div class="form-group">
            <label translate="jhipsterApp.test1.date" for="field_date">Date</label>
            <input type="date" class="form-control" name="date" id="field_date"
                    ng-model="test1.date">

        </div>
        <div class="form-group">
            <label translate="jhipsterApp.test1.time" for="field_time">Time</label>
            <input type="datetime-local" class="form-control" name="time" id="field_time"
                    ng-model="test1.time" ng-model-options="{timezone: 'UTC'}">

        </div>
        <div class="form-group">
            <label translate="jhipsterApp.test1.flag" for="field_flag">Flag</label>
            <input type="checkbox" class="form-control" name="flag" id="field_flag"
                    ng-model="test1.flag">

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
